<h1>Sign-Up</h1>
<form action="/users/create" method="POST">
    <input type="text" name="name" required placeholder="Enter Username">
    <input type="email" name="email" required placeholder="Enter Your Email">
    <input type="password" name="password" placeholder="Enter Password" required>
    <input type="password" name="confirm_pass" placeholder="Confirm Password" required>
    <input type="submit"  value="Sign Up">
</form>