* {
  margin: 0;
  box-sizing: border-box; }

header {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 13vh;
  background-image: linear-gradient(to right, #00B4DB, #0083B0);
  color: white; }
  header #details {
    float: left;
    padding-left: 5vh;
    width: 57%;
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  header ul {
    float: right;
    list-style-type: none;
    width: 37%;
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    header ul li a {
      color: white;
      text-decoration: none;
      font-size: 2.5vh; }
